<div class="container">
    <h2>Saved articles</h2>
    <div class="wrapper">
        <ul class="articles">
            {{#each articles}}
                {{#if isSaved}}
                <li id="article-scraped">
                    <a data-id="{{this._id}}" data-isSaved="{{this.isSaved}}" href="{{this.link}}">{{this.title}}</a>
                    <button type="submit" class="comment" data-id="{{this._id}}">Leave a comment</button>
                </li>
                {{/if}}
            {{/each}}
        </ul>
        <div id="comments" data-id="{{this._id}}"></div>
    </div>
</div>